@import '../scss/colors.scss';
@import '../scss/font.scss';

#bannerhome {
    .banner {

        .banner__first {
            position: relative;
            background-size: cover;
            height: 44vw;
    
            .banner__first__caption {
                position: absolute;
                bottom: 10%;
                left: 15%;
                width: 100%;
    
                .banner__first__caption__title {
                    font-family: "bebas-neue-by-fontfabric", sans-serif;
                    color: $branco;
                    font-size: 4.16vw;
                    font-weight: 700;
                    text-transform: uppercase;
                }
    
            }
        }
    
        .banner__item {
            position: relative;
            background-size: cover;
            height: 44vw;
    
    
            .banner__item__caption {
                position: absolute;
                bottom: 10%;
                left: 15%;
                width: 100%;
    
                .banner__item__caption__title {
                    font-family: "bebas-neue-by-fontfabric", sans-serif;
                    color: $branco;
                    font-size: 4.16vw;
                    font-weight: 700;
                    text-transform: uppercase;
                    margin-bottom: 0;
                    text-wrap: balance;
                }
    
    
                .banner__item__caption__author {
                    font-family: "bebas-neue-by-fontfabric", sans-serif;
                    color: $laranja-claro;
                    font-size: 1.45vw;
                    font-weight: 400;
                    text-transform: uppercase;
                    
                }
            }
        }
    
    }
}


@media only screen and (min-width:768px) and (max-width:1024px) {

    #bannerhome {
        .banner {
    
        
            .banner__item {
        
                .banner__item__caption {
                    position: absolute;
                    bottom: 10%;
                    left: 15%;
                    width: 100%;
        
                }
            }
        
        }
    }


}

@media only screen and (min-width:1025px) and (max-width:1399px) {

    #bannerhome {
        .banner {
    

        
            .banner__item {
        
                .banner__item__caption {
                    position: absolute;
                    bottom: 10%;
                    left: 15%;
                    width: 100%;
    
                }
            }
        
        }
    }

}

@media only screen and (min-width:1400px) and (max-width:1599px) {

    #bannerhome {
        .banner {
    

        
            .banner__item {
        
                .banner__item__caption {
                    position: absolute;
                    bottom: 10%;
                    left: 15%;
                    width: 100%;
        

                }
            }
        
        }
    }
}

@media only screen and (min-width:1600px) and (max-width:1799px) {


}