@import '../scss/colors.scss';
@import '../scss/font.scss';

.banner {

    .banner__first {
        position: relative;
        background-size: cover;
        height: 90vh;

        .banner__first__caption {
            position: absolute;
            bottom: 10%;
            width: 100%;

            .banner__first__caption__title {
                font-family: "bebas-neue-by-fontfabric", sans-serif;
                color: $branco;
                font-size: 80px;
                font-weight: 700;
                text-transform: uppercase;
            }

            .banner__first__caption__text {
                font-family: "bebas-neue-by-fontfabric", sans-serif;
                color: $branco;
                font-size: 20px;
                font-weight: 400;
                text-transform: uppercase;
                margin-bottom: 0;
                padding-top: 0.5vw;
            }
        }
    }

    .banner__item {
        position: relative;
        background-size: cover;
        height: 90vh;


        .banner__item__caption {
            position: absolute;
            bottom: 10%;
            left: 15%;
            width: 100%;

            .banner__item__caption__title {
                font-family: "bebas-neue-by-fontfabric", sans-serif;
                color: $branco;
                font-size: 80px;
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom: 0;
            }


            .banner__item__caption__author {
                font-family: "bebas-neue-by-fontfabric", sans-serif;
                color: $laranja-claro;
                font-size: 28px;
                font-weight: 400;
                text-transform: uppercase;
                
            }
        }
    }

}