@import '../scss/colors.scss';
@import '../scss/font.scss';

.biblioteca {
    background-color: $laranja-medio;
    padding-top: 4vw;
    padding-bottom: 4vw;
    overflow-x: hidden;

    .biblioteca__title {
        font-family: "bebas-neue-by-fontfabric", sans-serif;
        color: $branco;
        font-size: 80px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 2vw;
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .biblioteca__container {
        padding-left: 0;
        padding-right: 0;
    }

    .biblioteca__col {
        padding-left: 0.25vw;
        padding-right: 0.25vw;
    }

    .biblioteca__categorias {
        .biblioteca__categorias__categoria {
            position: relative;
            height: 25vw;
            background-size: cover;;
            background-color: $cinza-escuro;
            margin-bottom: 0.5vw;

            .biblioteca__categorias__categoria__title {
                position: absolute;
                width: 50%;
                left: 25%;
                top: 40%;
                font-family: "bebas-neue-by-fontfabric", sans-serif;
                color: $branco;
                font-size: 70px;
                font-weight: 400;
                text-transform: uppercase;
                text-align: center;
                vertical-align: middle;
                margin-bottom: 0;
            }
        }
    }
}


@media only screen and (min-width:768px) and (max-width:1024px) {

    .biblioteca {
    
        .biblioteca__title {
            font-size: 60px;
        }
    
    
        .biblioteca__categorias {
            .biblioteca__categorias__categoria {
    
                .biblioteca__categorias__categoria__title {
                    font-size: 50px;
                }
            }
        }
    }

}

@media only screen and (min-width:1025px) and (max-width:1399px) {

    .biblioteca {
    
        .biblioteca__title {
            font-size: 60px;
        }
    
    
        .biblioteca__categorias {
            .biblioteca__categorias__categoria {
    
                .biblioteca__categorias__categoria__title {
                    font-size: 50px;
                }
            }
        }
    }

}

@media only screen and (min-width:1400px) and (max-width:1599px) {

    .biblioteca {
    
        .biblioteca__title {
            font-size: 60px;
        }
    
    
        .biblioteca__categorias {
            .biblioteca__categorias__categoria {
    
                .biblioteca__categorias__categoria__title {
                    font-size: 50px;
                }
            }
        }
    }

}

@media only screen and (min-width:1600px) and (max-width:1799px) {

    .biblioteca {
    
        .biblioteca__title {
            font-size: 70px;
        }
    
    
        .biblioteca__categorias {
            .biblioteca__categorias__categoria {
    
                .biblioteca__categorias__categoria__title {
                    font-size: 60px;
                }
            }
        }
    }

}