@import '../scss/colors.scss';
@import '../scss/font.scss';

.biblioteca {
    background-color: $laranja-medio;
    padding-top: 4vw;
    padding-bottom: 4vw;
    overflow-x: hidden;

    .biblioteca__title {
        font-family: "bebas-neue-by-fontfabric", sans-serif;
        color: $branco;
        font-size: 4.16vw;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 2vw;
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .biblioteca__container {
        padding-left: 0;
        padding-right: 0;
    }

    .biblioteca__col {
        padding-left: 0.25vw;
        padding-right: 0.25vw;
    }

    .biblioteca__categorias {
        .biblioteca__categorias__categoria {
            position: relative;
            height: 25vw;
            background-size: cover;;
            background-color: $cinza-escuro;
            margin-bottom: 0.5vw;
            overflow: hidden;

            .biblioteca__categorias__categoria__img {
                height: 100%;

                &:hover {
                    -webkit-animation: kenburns-bottom 10s ease-out infinite both;
                    animation: kenburns-bottom 10s ease-out infinite both;
                }
    
            }


            .biblioteca__categorias__categoria__title {
                position: absolute;
                width: 50%;
                left: 25%;
                top: 40%;
                font-family: "bebas-neue-by-fontfabric", sans-serif;
                color: $branco;
                font-size: 3.65vw;
                font-weight: 400;
                text-transform: uppercase;
                text-align: center;
                vertical-align: middle;
                margin-bottom: 0;

                &:hover {
                    color: $laranja;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    
    .biblioteca {
        padding-top: 12vw;
        padding-bottom: 12vw;

        .biblioteca__title {
            font-size: 10vw;
            margin-bottom: 10vw;
        }

        .biblioteca__categorias {
            .biblioteca__categorias__categoria {
                .biblioteca__categorias__categoria__title {
                    font-size: 5vw;
                }
            }
        }
    }
}


@media only screen and (min-width:768px) and (max-width:1024px) {


}

@media only screen and (min-width:1025px) and (max-width:1399px) {


}

@media only screen and (min-width:1400px) and (max-width:1599px) {



}

@media only screen and (min-width:1600px) and (max-width:1799px) {


}