$preto: #000000;
$branco: #ffffff;
$laranja: #ec5522;
$laranja-medio: #ff8b64;
$laranja-medio-2: #ec5522;
$laranja-claro: #ffbe9f;
$laranja-claro-2: #ffaa86;
$laranja-escuro: #fa392f;
$cinza-escuro: #171717;
$cinza-medio: #3b3b3b;
$cinza-claro: #eeeeee;