@import '../scss/colors.scss';
@import '../scss/font.scss';

.destaques {
    background-color: $laranja-claro;
    padding-top: 4vw;
    padding-bottom: 4vw;
    padding-left: 10vw;
    padding-right: 10vw;

    .destaques__container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }


    .destaques__title {
        font-family: "bebas-neue-by-fontfabric", sans-serif;
        color: $branco;
        font-size: 4.16vw;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 2vw;
    }

    .destaques__text {
        height: 32vw;
        margin-bottom: 2vw;
        padding: 1vw;
        background-color: $laranja-medio;

        &:nth-of-type(2) {
            background-color: $laranja-medio-2;
        }

        .destaques__text__inner {
            padding: 0.25vw;
            height: 30vw;
            overflow-y: hidden;

            .destaques__text__inner__img {
                height: 15vw;
                background-size: cover;
            }

            .destaques__text__inner__link {
                text-decoration: none;
            }

            .destaques__text__inner__info {
                padding-top: 1vw;

                .destaques__text__inner__info__title {
                    font-family: "bebas-neue-by-fontfabric", sans-serif;
                    color: $cinza-escuro;
                    font-size: 1.56vw;
                    font-weight: 700;
                    text-transform: uppercase;
                    margin-bottom: 0.5vw;
                }

                .destaques__text__inner__info__film {
                    font-family: "bebas-neue-by-fontfabric", sans-serif;
                    color: $branco;
                    font-size: 1.25vw;
                    font-weight: 700;
                    text-transform: uppercase;
                    margin-bottom: 0.5vw;
                }
            }

            .destaques__text__inner__date {
                padding-top: 1vw;
                font-family: "bebas-neue-by-fontfabric", sans-serif;
                color: $branco;
                font-size: 1vw;
                font-weight: 300;
                text-transform: uppercase;
                text-align: right;
            }

            .destaques__text__inner__words {
                padding-top: 1vw;
                padding-left: 1.25vw;
                padding-right: 1.25vw;
                padding-bottom: 2vw;
                height: 10vw;
                overflow-y: auto;

                
                .destaques__text__inner__words__categories {
                    display: inline-block;
                    font-family: "bebas-neue-by-fontfabric", sans-serif;
                    color: $branco;
                    font-size: 1vw;
                    padding: 0.25vw;
                    font-weight: 400;
                    text-transform: uppercase;
                    border: 1px solid $branco;
                    text-decoration: none;
                    margin-right: 0.5vw;
                    margin-bottom: 0.5vw;

                    &:hover {
                        border: 1px solid $cinza-escuro;
                    }
                }

                .destaques__text__inner__words__tag {
                    display: inline-block;
                    font-family: "bebas-neue-by-fontfabric", sans-serif;
                    color: $cinza-escuro;
                    font-size: 1vw;
                    padding: 0.25vw;
                    font-weight: 400;
                    text-transform: uppercase;
                    border: 1px solid $branco;
                    text-decoration: none;
                    margin-right: 0.5vw;
                    margin-bottom: 0.5vw;

                    &:hover {
                        border: 1px solid $cinza-escuro;
                    }
                }
            }

            .destaques__text__inner__words::-webkit-scrollbar-track {
                border: 2px solid $branco;
            }
               
            .destaques__text__inner__words::-webkit-scrollbar-thumb {
                background-color: $cinza-escuro;
                outline: none;
            }

            .destaques__text__inner__words::-webkit-scrollbar {
                width: 1vw;
            }
               

        }
    }
}

div.destaques > div > div > div:nth-child(2) > div {
    background-color: $laranja-medio-2;
}

div.destaques > div > div > div:nth-child(3) > div {
    background-color: $laranja-escuro;
}

div.destaques > div > div > div:nth-child(4) > div {
    background-color: $laranja-medio-2;
}

div.destaques > div > div > div:nth-child(6) > div {
    background-color: $laranja-escuro;
}


@media only screen and (min-width:768px) and (max-width:1024px) {

    .destaques {

        .destaques__text {
    
            .destaques__text__inner {
    
                .destaques__text__inner__words {
                    padding-left: 2vw;
                    padding-right: 2vw;
                    
                }
    
            }
        }
    }

    
}

@media only screen and (min-width:1025px) and (max-width:1399px) {

    .destaques {


    
        .destaques__text {
    
            .destaques__text__inner {

    
                .destaques__text__inner__words {
                    padding-left: 2vw;
                    padding-right: 2vw;
                    
                }
    
                   
            }
        }
    }

}

@media only screen and (min-width:1400px) and (max-width:1599px) {

    .destaques {


        .destaques__text {
    
            .destaques__text__inner {
    
                .destaques__text__inner__words {
                    padding-left: 1.75vw;
                    padding-right: 1.75vw;
                    
                }
    
                   
            }
        }
    }

}

@media only screen and (min-width:1600px) and (max-width:1799px) {

    .destaques {
    
        .destaques__text {
    
            .destaques__text__inner {
    
                .destaques__text__inner__words {
                    padding-left: 1.5vw;
                    padding-right: 1.5vw;

                }
    
                   
            }
        }
    }

}