@import '../scss/colors.scss';
@import '../scss/font.scss';

.footer {
    background-color: $cinza-claro;
    padding-left: 10vw;
    border-top: 4px solid $cinza-escuro;

    .footer__col {
        padding-right: 0;
    }
    
    .footer__left {
        padding-bottom: 4vw;

        .footer__left__title {
            padding-top: 4vw;
            margin-bottom: 2vw;
    
            .footer__left__title__link {
                font-family: "bebas-neue-by-fontfabric", sans-serif;
                color: $laranja-medio;
                font-size: 4.16vw;
                font-weight: 700;
                text-transform: uppercase;
                margin-right: 4vw;
                text-decoration: none;

                &:hover {
                    color: $laranja-escuro;
                }
            }
        }
    
        .footer__left__info {
            font-family: "bebas-neue-by-fontfabric", sans-serif;
            color: $cinza-escuro;
            font-size: 2.08vw;
            font-weight: 300;
        }
    }

    .footer__right {
        background-color: $cinza-medio;
        border-left: 4px solid $cinza-escuro;
        height: 100%;

        .footer__right__img {
            display: block;
            padding-top: 4vw;
            width: 35%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media only screen and (max-width:767px) {

    .footer {
        border-top: 1px solid $cinza-escuro;

        .footer__left {

            .footer__left__title {
                padding-top: 6vw;

                .footer__left__title__link {
                    font-size: 8vw;
                }
            }

            .footer__left__info {
                font-size: 5vw;
            }
        }

        .footer__right {
            border-left: 1px solid $cinza-escuro;
            
            .footer__right__img {
                width: 50%;
                padding-top: 8vw;
            }
        }
    }

}


@media only screen and (min-width:768px) and (max-width:1024px) {


}

@media only screen and (min-width:1025px) and (max-width:1399px) {
    

}

@media only screen and (min-width:1400px) and (max-width:1599px) {
    
}

@media only screen and (min-width:1600px) and (max-width:1799px) {


}