@import '../scss/colors.scss';
@import '../scss/font.scss';

#header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;

    .header {
        background-color: rgba($color: $laranja, $alpha: 0.9);
        padding-top: 1vw;
        padding-bottom: 1.5vw;
        padding-left: 7vw;
        padding-right: 7vw;

        .header__logo {
            width: 80%;
        }

        .header__menu {
            border-bottom: $laranja-claro 1px solid;
            padding-top: 2vw;
            padding-bottom: 1vw;

            .header__menu__link {
                display: block;
                font-family: "bebas-neue-by-fontfabric", sans-serif;
                text-align: center;
                color: $laranja-claro;
                font-size: 26px;
                text-decoration: none;
                text-transform: uppercase;

                &:hover {
                    color: $branco;
                }
            }

            .active {
                color: $cinza-claro;
            }
        }

        .header__sub {
            padding-top: 1.5vw;

            .header__sub__lens {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 75%;
            }

            .header__sub__link {
                display: block;
                font-family: "bebas-neue-by-fontfabric", sans-serif;
                text-align: center;
                color: $laranja-claro;
                font-size: 18px;
                text-decoration: none;
                padding: 0.25vw;
                border: 1px solid $laranja-claro;
                text-transform: uppercase;

                &:hover {
                    color: $branco;
                    border: 1px solid $branco;
                }
            }

            .active {
                color: $cinza-claro;
                border: 1px solid $cinza-claro;
            }

        }

        .header__social {
            padding-top: 4vw;
            
            .header__social__img {
                width: 80%;
            }

        }
    }

}


@media only screen and (min-width:768px) and (max-width:1024px) {

    #header {
        .header {
            .header__logo {
                padding-top: 1vw;
            }
    
            .header__menu {
                .header__menu__link {
                    font-size: 18px;
                }
            }

            .header__sub {
                .header__sub__lens {
                    width: 250%;
                }

                .header__sub__link {
                    font-size: 12px;
                }
            }

            .header__social {
                .header__social__img {
                    width: 250%;
                }
            }
        }
    }

}

@media only screen and (min-width:1025px) and (max-width:1399px) {

    #header {
        .header {
    
            .header__menu {
                .header__menu__link {
                    font-size: 24px;
                }
            }

            .header__sub {
                .header__sub__lens {
                    width: 125%;
                }

                .header__sub__link {
                    font-size: 16px;
                }
            }

            .header__social {
                .header__social__img {
                    width: 125%;
                }
            }
        }
    }

}

@media only screen and (min-width:1400px) and (max-width:1599px) {

    #header {
        .header {
    
            .header__sub {
                .header__sub__lens {
                    width: 110%;
                }

            }

            .header__social {
                .header__social__img {
                    width: 120%;
                }
            }
        }
    }

}

@media only screen and (min-width:1600px) and (max-width:1799px) {
    #header {
        .header {
    
            .header__sub {
                .header__sub__lens {
                    width: 110%;
                }

            }

        }
    }

}