@import '../scss/colors.scss';
@import '../scss/font.scss';

.pesquisar {
    background-color: $cinza-escuro;

    #header {
        position: relative;
    }

    .pesquisar__content {
        margin-bottom: 20vw;

        .pesquisar__content__banner {
            position: sticky;
            top: 0;
            z-index: 99;
            overflow: hidden;

            .pesquisar__content__banner__inner {
                height: 15vw;
                border-bottom: 1px solid $laranja;
        
                .pesquisar__content__banner__inner__img {
                    height: 15vw;
                    background-size: cover;
                    background-position-y: 30%;
                    position: absolute;
                    width: 100%;
                    z-index: -1;
                }
        
                .pesquisar__content__banner__inner__container {
                    padding-left: 10vw;
                    padding-right: 10vw;
                }
        
                .pesquisar__content__banner__inner__title {
                    font-family: "bebas-neue-by-fontfabric", sans-serif;
                    color: $cinza-claro;
                    font-size: 1.77vw;
                    font-weight: 700;
                    text-transform: uppercase;
                    margin-bottom: 0.5vw;
                    text-wrap: balance;
                }
        
                
                .pesquisar__content__banner__inner__film{
                    font-family: "bebas-neue-by-fontfabric", sans-serif;
                    color: $cinza-claro;
                    font-size: 1vw;
                    font-weight: 400;
                    text-transform: uppercase;
                }
        
                .pesquisar__content__banner__inner__date {
                    font-family: "bebas-neue-by-fontfabric", sans-serif;
                    color: $laranja;
                    font-size: 1.56vw;
                    font-weight: 400;
                    text-transform: uppercase;
                    margin-bottom: 1vw;
                    margin-top: 3vw;
                }
        
                .pesquisar__content__banner__inner__author {
                    font-family: "bebas-neue-by-fontfabric", sans-serif;
                    color: $laranja-claro;
                    font-size: 1.14vw;
                    font-weight: 400;
                    text-transform: uppercase;
                    margin-top: 1vw;
                }
        
                .pesquisar__content__banner__inner__link {
                    display: block;
                    font-family: "bebas-neue-by-fontfabric", sans-serif;
                    color: $cinza-claro;
                    padding: 0.5vw;
                    font-size: 1.56vw;
                    font-weight:700;
                    text-transform: uppercase;
                    margin-top: 6vw;
                    text-decoration: none;
                    border: 2px solid $laranja;
                    text-align: center;
        
                    &:hover {
                        color: $cinza-claro;
                        border: 2px solid $cinza-claro;
                    }
                }
                
                .pesquisar__content__banner__inner__words {
                    margin-top: 6vw;
                    padding-left: 1.25vw;
                    padding-right: 1.25vw;
                    padding-bottom: 2vw;
                    height: 5vw;
                    margin-right: 8vw;
                    overflow-y: auto;
        
                    .pesquisar__content__banner__inner__words__categories {
                        display: inline-flex;
                        font-family: "bebas-neue-by-fontfabric", sans-serif;
                        color: $laranja-claro;
                        font-size: 1vw;
                        padding: 0.25vw;
                        font-weight: 400;
                        text-transform: uppercase;
                        border: 1px solid $laranja-escuro;
                        text-decoration: none;
                        margin-right: 0.5vw;
                        margin-bottom: 0.5vw;
            
                        &:hover {
                            border: 1px solid $laranja-claro;
                        }
                    }
            
                    .pesquisar__content__banner__inner__words__tag {
                        display: inline-flex;
                        font-family: "bebas-neue-by-fontfabric", sans-serif;
                        color: $branco;
                        font-size: 1vw;
                        padding: 0.25vw;
                        font-weight: 400;
                        text-transform: uppercase;
                        border: 1px solid $laranja-escuro;
                        text-decoration: none;
                        margin-right: 0.5vw;
                        margin-bottom: 0.5vw;
                        width: fit-content;
            
                        &:hover {
                            border: 1px solid $branco;
                        }
                    }
                }
        
                .pesquisar__content__banner__inner__words::-webkit-scrollbar-track {
                    border: 2px solid $laranja-claro;
                }
                   
                .pesquisar__content__banner__inner__words::-webkit-scrollbar-thumb {
                    background-color: $laranja-escuro;
                    outline: none;
                }
        
                .pesquisar__content__banner__inner__words::-webkit-scrollbar {
                    width: 1vw;
                }
        
            }
        }
    
        .pesquisar__content__pesquisa {
            position: relative;
            margin-left: auto;
            margin-right: auto;
            padding-top: 6vw;
            width: 20vw;

            .pesquisar__content__pesquisa__campo {
                font-family: "bebas-neue-by-fontfabric", sans-serif;
                color: $branco;
                font-size: 2vw;
                font-weight: 700;
                text-transform: uppercase;
                text-align: center;
                padding: 0.5vw;
                border: 0.1vw solid $laranja;
                margin-bottom: 2vw;
                user-select: none;
            }

            .pesquisar__content__pesquisa__icon {
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 0.5vw;
                padding: 0.5vw;
                width: 2vw;
                cursor: pointer;
            }

            .pesquisar__content__pesquisa__input {
                display: block;
                background: none;
                outline: none;
                border: 0.1vw solid $laranja;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                font-family: "bebas-neue-by-fontfabric", sans-serif;
                color: $branco;
                font-size: 1vw;

            }

            .pesquisar__content__pesquisa__termos {
                display: block;
                position: absolute;
                top: 14vw;
                background-color: $cinza-claro;
                padding: 0.5vw;
                width: 100%;
                height: fit-content;
                max-height: 20vw;
                overflow: auto;
                border: 0.1vw solid $cinza-escuro;

                .pesquisar__content__pesquisa__termos__termo {
                    font-family: "bebas-neue-by-fontfabric", sans-serif;
                    color: $cinza-escuro;
                    font-size: 1vw;
                    font-weight: 400;
                    padding-bottom: 1vw;
                    margin-bottom: 0;
                    cursor: pointer;
                    text-align: center;

                    &:last-of-type {
                        padding-bottom: 0;
                    }
                }
            }

            .pesquisar__content__pesquisa__termos::-webkit-scrollbar-track {
                border: 2px solid $laranja;
            }
               
            .pesquisar__content__pesquisa__termos::-webkit-scrollbar-thumb {
                background-color: $laranja;
                outline: none;
            }

            .pesquisar__content__pesquisa__termos::-webkit-scrollbar {
                width: 1vw;
            }
        }

        .pesquisar__content__campos {
            padding-left: 10vw;
            padding-right: 10vw;
            padding-top: 6vw;

            .pesquisar__content__campos__campo {
                margin-bottom: 4vw;

                .pesquisar__content__campos__campo__title {
                    font-family: "bebas-neue-by-fontfabric", sans-serif;
                    color: $laranja;
                    font-size: 2vw;
                    font-weight: 700;
                    text-align: center;
                    margin-bottom: 1vw;
                }

                .pesquisar__content__campos__campo__selected {
                    font-family: "Merriweather", sans-serif;
                    color: $cinza-claro;
                    font-size: 1vw;
                    font-weight: 400;
                    line-height: 2;
                    text-align: center;
                    margin-bottom: 0.5vw;
                }

                .pesquisar__content__campos__campo__img {
                    width: 1vw;
                    margin-left: 1vw;
                    cursor: pointer;
                }
            }
        }

        .pesquisar__content__resultados {
            margin-top: 4vw;
            padding-left: 10vw;
            padding-right: 10vw;

            .pesquisar__content__resultados__length {
                font-family: "bebas-neue-by-fontfabric", sans-serif;
                color: $cinza-claro;
                font-size: 2.4vw;
                font-weight: 400;
                text-align: center;
                font-style: italic;
                margin-bottom: 4vw;
            }

            .pesquisar__content__resultados__text {
                height: 18vw;
                margin-bottom: 2vw;
                cursor: pointer;
        
                .pesquisar__content__resultados__text__inner {
                    border: 1px solid $laranja-claro;
                    padding: 1vw;
                    height: 18vw;
                    overflow-y: hidden;

                    .pesquisar__content__resultados__text__inner__container {
                        padding-left: 0;
                        padding-right: 0;
                    }
        
                    .pesquisar__content__resultados__text__inner__img {
                        height: 10vw;
                        background-size: cover;
                    }
        
                    .pesquisar__content__resultados__text__inner__link {
                        text-decoration: none;
                    }
        
                    .pesquisar__content__resultados__text__inner__info {
                        padding-top: 1vw;
        
                        .pesquisar__content__resultados__text__inner__info__title {
                            font-family: "bebas-neue-by-fontfabric", sans-serif;
                            color: $laranja-claro;
                            font-size: 1.25vw;
                            font-weight: 700;
                            text-transform: uppercase;
                            margin-bottom: 0.5vw;
                            text-wrap: balance;
                        }
        
                        .pesquisar__content__resultados__text__inner__info__film {
                            font-family: "bebas-neue-by-fontfabric", sans-serif;
                            color: $branco;
                            font-size: 0.83vw;
                            font-weight: 700;
                            text-transform: uppercase;
                            margin-bottom: 0.5vw;
                        }
                    }
        
                    .pesquisar__content__resultados__text__inner__date {
                        padding-top: 1vw;
                        font-family: "bebas-neue-by-fontfabric", sans-serif;
                        color: $branco;
                        font-size: 1vw;
                        font-weight: 300;
                        text-transform: uppercase;
                        text-align: right;
                    }
        
                }
            }

            .pesquisar__content__resultados__pages {
                position: relative;
                padding: 2vw;
                border: 1px solid $cinza-claro;
                margin-top: 2vw;
                margin-right: var(--bs-gutter-x,.75rem);
                margin-left: var(--bs-gutter-x,.75rem);
    
                .pesquisar__content__resultados__pages__icon {
                    display: block;
                    width: 25%;
                    margin-right: auto;
                    cursor: pointer;
                }
    
                .next {
                    transform: scaleX(-1);
                    margin-left: auto;
                    margin-right: unset;
                }
    
                .pesquisar__content__resultados__pages__text {
                    font-family: "bebas-neue-by-fontfabric", sans-serif;
                    color: $cinza-claro;
                    font-size: 2.08vw;
                    font-weight: 700;
                    text-transform: uppercase;
                    text-align: center;
                    margin-top: 0.5vw;
    
                    .pesquisar__content__resultados__pages__text__sub {
                        font-size: 1.25vw;
                    }
                }
    
                .pesquisar__content__resultados__pages__number {
                    position: absolute;
                    font-family: "bebas-neue-by-fontfabric", sans-serif;
                    color: $cinza-claro;
                    font-size: 2.08vw;
                    font-weight: 700;
                }
    
                .left {
                    top: 2vw;
                    left: 8vw;
                    transform: rotate(90deg);
                }
    
                .right {
                    top: 2vw;
                    right: 8vw;
                    transform: rotate(-90deg);
                }
            }

        }
    }

}

@media only screen and (max-width:767px) {

    
    .pesquisar {
        
        .pesquisar__content {
            min-height: 80vh;


            .pesquisar__content__banner {
                .pesquisar__content__banner__inner {
                    height: 44vw;
                    border-bottom: 2px solid $laranja;
                    z-index: 9;
            
                    .pesquisar__content__banner__inner__img {
                        height: 44vw;
                        background-position-y: 30%;
                    }
            
                    .pesquisar__content__banner__inner__container {
                        padding-left: 7vw;
                        padding-right: 7vw;
                    }
            
                    .pesquisar__content__banner__inner__title {
                        font-size: 5vw;
                        margin-bottom: 2vw;
                        text-wrap: none;
                    }
            
                    
                    .pesquisar__content__banner__inner__film{
                        font-size: 4vw;
                        font-weight: 400;
                    }
            
                    .pesquisar__content__banner__inner__date {
                        font-size: 3.5vw;
                        margin-bottom: 2vw;
                        margin-top: 14vw;
                    }
            
                    .pesquisar__content__banner__inner__author {
                        font-size: 3.5vw;
                        margin-top: 1vw;
                    }
            
                    .pesquisar__content__banner__inner__link {
                        padding: 1vw;
                        font-size: 3vw;
                        margin-top: 25vw;
                        font-weight: 400;
                        border: 1px solid $laranja;
        
                    }
        
                    .pesquisar__content__banner__inner__tag {
                        display: block;
                        position: relative;
                        width: 70%;
                        margin-top: 25vw;
                        border: 1px solid $laranja;
                    }
                    
                    .pesquisar__content__banner__inner__words {
                        display: none;
                    }
            
                    .pesquisar__content__banner__inner__words::-webkit-scrollbar-track {
                        border: 2px solid $laranja-claro;
                    }
                       
                    .pesquisar__content__banner__inner__words::-webkit-scrollbar-thumb {
                        background-color: $laranja-escuro;
                        outline: none;
                    }
            
                    .pesquisar__content__banner__inner__words::-webkit-scrollbar {
                        width: 1vw;
                    }
        
            
                }
            }

            .pesquisar__content__pesquisa {
                padding-top: 20vw;
                width: 80vw;
    
                .pesquisar__content__pesquisa__campo {
                    font-family: "bebas-neue-by-fontfabric", sans-serif;
                    color: $branco;
                    font-size: 6vw;
                    font-weight: 700;
                    text-transform: uppercase;
                    text-align: center;
                    padding: 4vw;
                    border: 0.1vw solid $laranja;
                    margin-bottom: 8vw;
                    width: 100%;
                }
    
                .pesquisar__content__pesquisa__icon {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 6vw;
                    padding: 0.5vw;
                    width: 50%;
                    cursor: pointer;
                }
    
                .pesquisar__content__pesquisa__input {
                    display: block;
                    background: none;
                    outline: none;
                    border: 0.1vw solid $laranja;
                    width: 100%;
                    margin-left: auto;
                    margin-right: auto;
                    text-align: center;
                    font-family: "bebas-neue-by-fontfabric", sans-serif;
                    color: $branco;
                    font-size: 5vw;
                    margin-bottom: 4vw;
    
                }
    
                .pesquisar__content__pesquisa__termos {
                    display: block;
                    position: absolute;
                    top: 60vw;
                    background-color: $cinza-claro;
                    padding: 4vw;
                    width: 100%;
                    height: fit-content;
                    max-height: 70vw;
                    overflow: auto;
                    border: 0.1vw solid $cinza-escuro;
                    z-index: 9999;
    
                    .pesquisar__content__pesquisa__termos__termo {
                        font-family: "bebas-neue-by-fontfabric", sans-serif;
                        color: $cinza-escuro;
                        font-size: 4vw;
                        font-weight: 400;
                        padding-bottom: 4vw;
                        margin-bottom: 0;
                        cursor: pointer;
                        text-align: center;
    
                        &:last-of-type {
                            padding-bottom: 0;
                        }
                    }
                }
    
                .pesquisar__content__pesquisa__termos::-webkit-scrollbar-track {
                    border: 2px solid $laranja;
                }
                   
                .pesquisar__content__pesquisa__termos::-webkit-scrollbar-thumb {
                    background-color: $laranja;
                    outline: none;
                }
    
                .pesquisar__content__pesquisa__termos::-webkit-scrollbar {
                    width: 4vw;
                }
            }
    
            .pesquisar__content__campos {
                padding-left: 5vw;
                padding-right: 5vw;
                padding-top: 6vw;
    
                .pesquisar__content__campos__campo {
                    margin-bottom: 6vw;
    
                    .pesquisar__content__campos__campo__title {
                        font-family: "bebas-neue-by-fontfabric", sans-serif;
                        color: $laranja;
                        font-size: 5vw;
                        font-weight: 700;
                        text-align: center;
                        margin-bottom: 1vw;
                    }
    
                    .pesquisar__content__campos__campo__selected {
                        font-family: "Merriweather", sans-serif;
                        color: $cinza-claro;
                        font-size: 3vw;
                        font-weight: 400;
                        line-height: 2;
                        text-align: center;
                        margin-bottom: 0.5vw;
                    }
    
                    .pesquisar__content__campos__campo__img {
                        width: 4vw;
                        margin-left: 1vw;
                        cursor: pointer;
                    }
                }
            }
    
            .pesquisar__content__resultados {
                margin-top: 8vw;
                padding-left: 5vw;
                padding-right: 5vw;
    
                .pesquisar__content__resultados__length {
                    font-family: "bebas-neue-by-fontfabric", sans-serif;
                    color: $cinza-claro;
                    font-size: 5vw;
                    font-weight: 400;
                    text-align: center;
                    font-style: italic;
                    margin-bottom: 8vw;
                }
    

                .pesquisar__content__resultados__text {
                    height: 50vw;
                    margin-bottom: 6vw;
            
                    .pesquisar__content__resultados__text__inner {
                        border: 1px solid $laranja-claro;
                        padding: 3vw;
                        height: 50vw;
                        overflow: hidden;
    
                        .pesquisar__content__resultados__text__inner__container {
                            padding-left: 0;
                            padding-right: 0;
                        }
            
                        .pesquisar__content__resultados__text__inner__img {
                            height: 20vw;
                            background-size: cover;
                        }
            
                        .pesquisar__content__resultados__text__inner__link {
                            text-decoration: none;
                        }
            
                        .pesquisar__content__resultados__text__inner__info {
                            padding-top: 3vw;
            
                            .pesquisar__content__resultados__text__inner__info__title {
                                font-size: 4vw;
                                margin-bottom: 2vw;
                            }
            
                            .pesquisar__content__resultados__text__inner__info__film {
                                font-size: 3vw;
                                margin-bottom: 2vw;
                            }
                        }
            
                        .pesquisar__content__resultados__text__inner__date {
                            padding-top: 1vw;
                            font-size: 3vw;
                            font-weight: 300;
                            text-align: left;
                        }
            
                    }
                
                }
    
                .pesquisar__content__resultados__pages {
                    padding: 2vw;
                    border: 1px solid $cinza-claro;
                    margin-top: 10vw;
                    margin-right: var(--bs-gutter-x,.75rem);
                    margin-left: var(--bs-gutter-x,.75rem);
        
                    .pesquisar__content__resultados__pages__icon {
                        width: 60%;
                        margin-top: 1vw;
                    }
        
                    .next {
                        transform: scaleX(-1);
                        margin-left: auto;
                        margin-right: unset;
                    }
        
                    .pesquisar__content__resultados__pages__text {
                        font-size: 7vw;
                        font-weight: 700;
                        margin-top: 0.5vw;
        
                        .pesquisar__content__resultados__pages__text__sub {
                            font-size: 5vw;
                        }
                    }
        
                    .pesquisar__content__resultados__pages__number {
                        display: none;
                    }
        
                    .left {
                        top: 2vw;
                        left: 8vw;
                    }
        
                    .right {
                        top: 2vw;
                        right: 8vw;
                    }
                }

    
            }

        }

    }

    .search {
        display: block;
        position: absolute;
        top: 65vw;
        right: 15vw;
        background-color: $cinza-claro;
        z-index: 9999;
        width: 40vw;

        .search__categories {
            display: block;
            font-family: "bebas-neue-by-fontfabric", sans-serif;
            color: $laranja-escuro;
            border-bottom: 1px solid $laranja;
            font-size: 4vw;
            padding: 2vw;
            font-weight: 400;
            text-transform: uppercase;
            text-decoration: none;
            margin-right: 0.5vw;
            margin-bottom: 1vw;
            text-align: center;
        }

        .search__tag {
            display: block;
            font-family: "bebas-neue-by-fontfabric", sans-serif;
            color: $cinza-escuro;
            border-bottom: 1px solid $laranja;
            font-size: 4vw;
            padding: 2vw;
            font-weight: 400;
            text-transform: uppercase;
            text-decoration: none;
            margin-right: 0.5vw;
            margin-bottom: 0;
            text-align: center;

            &:last-of-type {
                border-bottom: none;
            }
        }
    }

}