@import '../scss/colors.scss';
@import '../scss/font.scss';

.pesquisar {
    background-color: $cinza-escuro;

    #header {
        position: relative;
    }

    .pesquisar__content {
        margin-bottom: 20vw;

        .pesquisa__content__banner {
            height: 15vw;
            background-color: $cinza-escuro;
            background-size: cover;
            background-position-y: 30%;
            padding-left: 10vw;
            padding-right: 10vw;
            position: sticky;
            top: 0;
            z-index: 99;
            border-bottom: 1px solid $laranja;
    
            .pesquisa__content__banner__title {
                font-family: "bebas-neue-by-fontfabric", sans-serif;
                color: $cinza-claro;
                font-size: 1.77vw;
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom: 0.5vw;
                text-wrap: balance;
            }
    
            
            .pesquisa__content__banner__film{
                font-family: "bebas-neue-by-fontfabric", sans-serif;
                color: $cinza-claro;
                font-size: 1vw;
                font-weight: 400;
                text-transform: uppercase;
            }
    
            .pesquisa__content__banner__date {
                font-family: "bebas-neue-by-fontfabric", sans-serif;
                color: $laranja;
                font-size: 1.56vw;
                font-weight: 400;
                text-transform: uppercase;
                margin-bottom: 1vw;
                margin-top: 3vw;
            }
    
            .pesquisa__content__banner__author {
                font-family: "bebas-neue-by-fontfabric", sans-serif;
                color: $laranja-claro;
                font-size: 22px;
                font-weight: 400;
                text-transform: uppercase;
                margin-top: 1vw;
            }
    
            .pesquisa__content__banner__link {
                display: block;
                font-family: "bebas-neue-by-fontfabric", sans-serif;
                color: $cinza-claro;
                padding: 0.5vw;
                font-size: 1.56vw;
                font-weight:700;
                text-transform: uppercase;
                margin-top: 6vw;
                text-decoration: none;
                border: 2px solid $laranja;
                text-align: center;
    
                &:hover {
                    color: $cinza-claro;
                    border: 2px solid $cinza-claro;
                }
            }
            
            .pesquisa__content__banner__words {
                margin-top: 6vw;
                padding-left: 1.25vw;
                padding-right: 1.25vw;
                padding-bottom: 2vw;
                height: 5vw;
                margin-right: 8vw;
                overflow-y: auto;
    
                .pesquisa__content__banner__words__categories {
                    display: inline-flex;
                    font-family: "bebas-neue-by-fontfabric", sans-serif;
                    color: $laranja-claro;
                    font-size: 1vw;
                    padding: 0.25vw;
                    font-weight: 400;
                    text-transform: uppercase;
                    border: 1px solid $laranja-escuro;
                    text-decoration: none;
                    margin-right: 0.5vw;
                    margin-bottom: 0.5vw;
        
                    &:hover {
                        border: 1px solid $laranja-claro;
                    }
                }
        
                .pesquisa__content__banner__words__tag {
                    display: inline-flex;
                    font-family: "bebas-neue-by-fontfabric", sans-serif;
                    color: $branco;
                    font-size: 1vw;
                    padding: 0.25vw;
                    font-weight: 400;
                    text-transform: uppercase;
                    border: 1px solid $laranja-escuro;
                    text-decoration: none;
                    margin-right: 0.5vw;
                    margin-bottom: 0.5vw;
                    width: fit-content;
        
                    &:hover {
                        border: 1px solid $branco;
                    }
                }
            }
    
            .pesquisa__content__banner__words::-webkit-scrollbar-track {
                border: 2px solid $laranja-claro;
            }
               
            .pesquisa__content__banner__words::-webkit-scrollbar-thumb {
                background-color: $laranja-escuro;
                outline: none;
            }
    
            .pesquisa__content__banner__words::-webkit-scrollbar {
                width: 1vw;
            }
    
        }
    

        .pesquisar__content__pesquisa {
            position: relative;
            margin-left: auto;
            margin-right: auto;
            padding-top: 6vw;
            width: 20vw;

            .pesquisar__content__pesquisa__campo {
                font-family: "bebas-neue-by-fontfabric", sans-serif;
                color: $branco;
                font-size: 2vw;
                font-weight: 700;
                text-transform: uppercase;
                text-align: center;
                padding: 0.5vw;
                border: 0.1vw solid $laranja;
                margin-bottom: 2vw;
                user-select: none;
            }

            .pesquisar__content__pesquisa__icon {
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 0.5vw;
                padding: 0.5vw;
                width: 2vw;
                cursor: pointer;
            }

            .pesquisar__content__pesquisa__input {
                display: block;
                background: none;
                outline: none;
                border: 0.1vw solid $laranja;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                font-family: "bebas-neue-by-fontfabric", sans-serif;
                color: $branco;
                font-size: 1vw;

            }

            .pesquisar__content__pesquisa__termos {
                display: block;
                position: absolute;
                top: 14vw;
                background-color: $cinza-claro;
                padding: 0.5vw;
                width: 100%;
                height: fit-content;
                max-height: 20vw;
                overflow: auto;
                border: 0.1vw solid $cinza-escuro;

                .pesquisar__content__pesquisa__termos__termo {
                    font-family: "bebas-neue-by-fontfabric", sans-serif;
                    color: $cinza-escuro;
                    font-size: 1vw;
                    font-weight: 400;
                    padding-bottom: 1vw;
                    margin-bottom: 0;
                    cursor: pointer;
                    text-align: center;

                    &:last-of-type {
                        padding-bottom: 0;
                    }
                }
            }

            .pesquisar__content__pesquisa__termos::-webkit-scrollbar-track {
                border: 2px solid $laranja;
            }
               
            .pesquisar__content__pesquisa__termos::-webkit-scrollbar-thumb {
                background-color: $laranja;
                outline: none;
            }

            .pesquisar__content__pesquisa__termos::-webkit-scrollbar {
                width: 1vw;
            }
        }

        .pesquisar__content__campos {
            padding-left: 10vw;
            padding-right: 10vw;
            padding-top: 6vw;

            .pesquisar__content__campos__campo {
                margin-bottom: 4vw;

                .pesquisar__content__campos__campo__title {
                    font-family: "bebas-neue-by-fontfabric", sans-serif;
                    color: $laranja;
                    font-size: 2vw;
                    font-weight: 700;
                    text-align: center;
                    font-style: italic;
                    margin-bottom: 1vw;
                }

                .pesquisar__content__campos__campo__selected {
                    font-family: "Merriweather", sans-serif;
                    color: $cinza-claro;
                    font-size: 1vw;
                    font-weight: 400;
                    line-height: 2;
                    text-align: center;
                    margin-bottom: 0.5vw;
                }

                .pesquisar__content__campos__campo__img {
                    width: 1vw;
                    margin-left: 1vw;
                    cursor: pointer;
                }
            }
        }

        .pesquisar__content__resultados {
            margin-top: 4vw;
            padding-left: 10vw;
            padding-right: 10vw;

            .pesquisar__content__resultados__length {
                font-family: "bebas-neue-by-fontfabric", sans-serif;
                color: $cinza-claro;
                font-size: 2.4vw;
                font-weight: 700;
                text-align: center;
                font-style: italic;
                margin-bottom: 4vw;
            }

            .pesquisar__content__resultados__text {
                height: 18vw;
                margin-bottom: 2vw;
                cursor: pointer;
        
                .pesquisar__content__resultados__text__inner {
                    border: 1px solid $laranja-claro;
                    padding: 1vw;
                    height: 18vw;
                    overflow-y: hidden;

                    .pesquisar__content__resultados__text__inner__container {
                        padding-left: 0;
                        padding-right: 0;
                    }
        
                    .pesquisar__content__resultados__text__inner__img {
                        height: 10vw;
                        background-size: cover;
                    }
        
                    .pesquisar__content__resultados__text__inner__link {
                        text-decoration: none;
                    }
        
                    .pesquisar__content__resultados__text__inner__info {
                        padding-top: 1vw;
        
                        .pesquisar__content__resultados__text__inner__info__title {
                            font-family: "bebas-neue-by-fontfabric", sans-serif;
                            color: $laranja-claro;
                            font-size: 1.25vw;
                            font-weight: 700;
                            text-transform: uppercase;
                            margin-bottom: 0.5vw;
                            text-wrap: balance;
                        }
        
                        .pesquisar__content__resultados__text__inner__info__film {
                            font-family: "bebas-neue-by-fontfabric", sans-serif;
                            color: $branco;
                            font-size: 0.83vw;
                            font-weight: 700;
                            text-transform: uppercase;
                            margin-bottom: 0.5vw;
                        }
                    }
        
                    .pesquisar__content__resultados__text__inner__date {
                        padding-top: 1vw;
                        font-family: "bebas-neue-by-fontfabric", sans-serif;
                        color: $branco;
                        font-size: 1vw;
                        font-weight: 300;
                        text-transform: uppercase;
                        text-align: right;
                    }
        
                }
            }
        }
    }

}


@media only screen and (min-width:768px) and (max-width:1024px) {


}

@media only screen and (min-width:1025px) and (max-width:1399px) {



}

@media only screen and (min-width:1400px) and (max-width:1599px) {


}

@media only screen and (min-width:1600px) and (max-width:1799px) {



}