@import '../scss/colors.scss';
@import '../scss/font.scss';


.texto {

    a {
        color: $laranja-escuro;
        font-weight: 700;
        text-decoration: none;

        &:hover {
            color: $cinza-escuro;
            text-decoration: none;
        }
    }

    .texto__banner {
        position: relative;
        background-size: cover;
        height: 44vw;
    }

    .texto__header {
        background-color: $cinza-escuro;
        padding-top: 4vw;
        padding-bottom: 4vw;
        padding-left: 10vw;
        padding-right: 10vw;

        .texto__header__title {
            font-family: "bebas-neue-by-fontfabric", sans-serif;
            color: $laranja-claro;
            font-size: 5.2vw;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 1vw;
            text-wrap: balance;
        }

        .texto__header__film {
            font-family: "bebas-neue-by-fontfabric", sans-serif;
            color: $branco;
            font-size: 3.12vw;
            font-weight: 400;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 1vw;
        }

        .texto__header__date {
            font-family: "bebas-neue-by-fontfabric", sans-serif;
            color: $laranja;
            font-size: 2.6vw;
            font-weight: 400;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 1vw;
        }
    }

    .texto__main {
        padding-top: 4vw;
        padding-bottom: 4vw;

        .texto__main__text {
            font-family: "Merriweather", sans-serif;
            padding-top: 4vw;
            padding-left: 20vw;
            padding-right: 20vw;
            font-size: 0.93vw;
            font-weight: 400;
            text-align: left;
            white-space: pre-wrap;
            padding-bottom: 2vw; 
            line-height: 2;    
            
            img {
                width: 100%;
            }
        }

        .texto__main__info {
            background-color: $cinza-claro;
            padding-top: 2vw;
            padding-bottom:1vw;
            padding-left: 20vw;
            padding-right: 20vw;
            position: sticky;
            top: 0;
            z-index: 99;

            .texto__main__info__title {
                font-family: "Merriweather", sans-serif;
                color: $cinza-escuro;
                font-size: 1.40vw;
                font-weight: 600;
                text-align: left;
                font-style: italic;
                text-wrap: balance;

            }

            .texto__main__info__author {
                font-family: "Merriweather", sans-serif;
                color: $cinza-escuro;
                font-size: 1.25vw;
                font-weight: 600;
                text-align: right;
                font-style: italic;

            }
        }

        .texto__main__carousel {
            width: 60%;
            margin-left: auto;
            margin-right: auto;
            height: 6vw;
            justify-content: center;
        }


        .texto__main__gallery {
            background-color: $cinza-escuro;
            position: sticky;
            top: 5vw;
            z-index: 99;

            
            .texto__main__gallery__img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                cursor: pointer;
                height: 4vw;
            }
        }
    }

    .texto__footer {
        padding-top: 2vw;
        padding-bottom: 2vw;
        padding-left: 30vw;
        padding-right: 30vw;
        background-color: $laranja;

        .texto__footer__categories {
            display: inline-block;
            font-family: "bebas-neue-by-fontfabric", sans-serif;
            color: $branco;
            font-size: 1.56vw;
            padding: 0.25vw;
            font-weight: 400;
            text-transform: uppercase;
            border: 1px solid $branco;
            text-decoration: none;
            margin-right: 1vw;
            margin-bottom: 1vw;

            &:hover {
                border: 1px solid $cinza-escuro;
                color: $cinza-escuro;
            }
        }

        .texto__footer__tags {
            display: inline-block;
            font-family: "bebas-neue-by-fontfabric", sans-serif;
            color: $laranja-claro;
            font-size: 1.56vw;
            padding: 0.25vw;
            font-weight: 400;
            text-transform: uppercase;
            border: 1px solid $laranja-claro;
            text-decoration: none;
            margin-right: 1vw;
            margin-bottom: 1vw;

            &:hover {
                border: 1px solid $cinza-escuro;
                color: $cinza-escuro;
            }
        }
    }
}

.modal {
    position: relative;

    .modal__index {
        position: absolute;
        top: -5vw;
        right: 0;
        font-family: "bebas-neue-by-fontfabric", sans-serif;
        color: $laranja;
        font-size: 3vw;
        font-weight: 600;
    }

    .modal__img {
        width: 100%;
    }

    .modal__close {
        display: block;
        font-family: "bebas-neue-by-fontfabric", sans-serif;
        color: $laranja;
        font-size: 1.56vw;
        font-weight: 600;
        text-align: center;
        background: none;
        border: none;
        margin-top: 1vw;
        margin-left: auto;
        margin-right: auto;

        &:hover {
            color: $cinza-claro;
        }
    }

    .modal__option {
        background: none;
        outline: none;
        border: none;
        margin-top: 1vw;
       
        .modal__option__icon {
            width: 7.5%;
        }

        .left {
            transform: scaleX(-1);
        }
    }
}

.modal-content {
    margin-top: 10vw;
    background-color:none !important;
    background: none !important;
    border: none;

}

.modal.show .modal-dialog {
    min-width: 44vw;
}

.modal-backdrop.show {
    opacity: 0.9 !important;
}


@media only screen and (min-width:768px) and (max-width:1024px) {


}

@media only screen and (min-width:1025px) and (max-width:1399px) {


}

@media only screen and (min-width:1400px) and (max-width:1599px) {

}

@media only screen and (min-width:1600px) and (max-width:1799px) {

}