@import '../scss/colors.scss';
@import '../scss/font.scss';


.texto {


    a {
        color: $laranja-escuro;
        font-weight: 700;
        text-decoration: none;

        &:hover {
            color: $cinza-escuro;
            text-decoration: none;
        }
    }

    .texto__banner {
        overflow: hidden;
        
        .texto__banner__img {
            position: relative;
            background-size: cover;
            height: 44vw;
        }
    }

    .texto__header {
        background-color: $cinza-escuro;
        padding-top: 4vw;
        padding-bottom: 4vw;
        padding-left: 10vw;
        padding-right: 10vw;

        .texto__header__title {
            font-family: "bebas-neue-by-fontfabric", sans-serif;
            color: $laranja-claro;
            font-size: 5.2vw;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 1vw;
            text-wrap: balance;
        }

        .texto__header__film {
            font-family: "bebas-neue-by-fontfabric", sans-serif;
            color: $branco;
            font-size: 3.12vw;
            font-weight: 400;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 1vw;
        }

        .texto__header__date {
            font-family: "bebas-neue-by-fontfabric", sans-serif;
            color: $laranja;
            font-size: 2.6vw;
            font-weight: 400;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 1vw;
        }
    }

    .texto__main {
        position: relative;
        padding-top: 4vw;
        padding-bottom: 4vw;

        .texto__main__text {
            font-family: "Merriweather", sans-serif;
            padding-top: 4vw;
            padding-left: 25vw;
            padding-right: 25vw;
            font-size: 1vw;
            font-weight: 400;
            text-align: left;
            white-space: pre-wrap;
            padding-bottom: 2vw; 
            line-height: 2;    
            
            img {
                width: 100%;
            }
        }

        .texto__main__info {
            background-color: $cinza-claro;
            padding-top: 2vw;
            padding-bottom:1vw;
            padding-left: 25vw;
            padding-right: 25vw;
            position: sticky;
            top: 0;
            z-index: 99;

            .texto__main__info__container {
                padding-left: 0;
                padding-right: 0;
            }

            .texto__main__info__title {
                font-family: "Merriweather", sans-serif;
                color: $cinza-escuro;
                font-size: 1.40vw;
                font-weight: 600;
                text-align: left;
                text-wrap: balance;

            }

            .texto__main__info__author {
                font-family: "Merriweather", sans-serif;
                color: $cinza-escuro;
                font-size: 1.25vw;
                font-weight: 600;
                text-align: right;

            }
        }

        .texto__main__font {
            margin-top: 4vw;
            padding-left: 25vw;
            padding-right: 25vw;
            text-align: right;
            user-select: none;

            .texto__main__font__title {
                font-family: "Merriweather", sans-serif;
                font-size: 1vw;
                font-weight: 400;   
                color: $cinza-escuro;
            }

            .texto__main__font__size {
                display: inline-block;
                margin-left: 0.25vw;
                margin-right: 0.25vw;
                font-family: "Merriweather", sans-serif;
                font-size: 1vw;
                font-weight: 400;   
                color: $cinza-escuro;
                padding-left: 0.25vw;
                padding-right: 0.25vw;
                border-radius: 0.2vw;
                border: 0.1vw solid #171717;
                cursor: pointer;
            }
        }
    }

    .texto__footer {
        padding-top: 2vw;
        padding-bottom: 2vw;
        padding-left: 30vw;
        padding-right: 30vw;
        background-color: $laranja;

        .texto__footer__categories {
            display: inline-block;
            font-family: "bebas-neue-by-fontfabric", sans-serif;
            color: $branco;
            font-size: 1.56vw;
            padding: 0.25vw;
            font-weight: 400;
            text-transform: uppercase;
            border: 1px solid $branco;
            text-decoration: none;
            margin-right: 1vw;
            margin-bottom: 1vw;

            &:hover {
                border: 1px solid $cinza-escuro;
                color: $cinza-escuro;
            }
        }

        .texto__footer__tags {
            display: inline-block;
            font-family: "bebas-neue-by-fontfabric", sans-serif;
            color: $laranja-claro;
            font-size: 1.56vw;
            padding: 0.25vw;
            font-weight: 400;
            text-transform: uppercase;
            border: 1px solid $laranja-claro;
            text-decoration: none;
            margin-right: 1vw;
            margin-bottom: 1vw;

            &:hover {
                border: 1px solid $cinza-escuro;
                color: $cinza-escuro;
            }
        }
    }
}


@media only screen and (max-width:767px) {

    .texto {

        .texto__banner {
            overflow: hidden;
            
            .texto__banner__img {
                position: relative;
                background-size: cover;
                height: 44vh;
            }

        }

        .texto__header {
            padding-top: 10vw;
            padding-bottom: 10vw;

            .texto__header__title {
                font-size: 10vw;
                margin-bottom: 4vw;
            }

            .texto__header__film {
                font-size: 6vw;
                margin-bottom: 4vw;
            }

            .texto__header__date {
                font-size: 6vw;
            }
        }

        .texto__main {
            padding-top: 14vw;
    
            .texto__main__info {
                display: none;
            }

            .texto__main__font {
                padding-left: 10vw;
                padding-right: 10vw;
                padding-bottom: 5vw;

                .texto__main__font__title {
                    font-size: 4vw;
                }

                .texto__main__font__size {
                    margin-left: 2vw;
                    margin-right: 2vw;
                    font-size: 5vw;
                    padding-left: 2vw;
                    padding-right: 2vw;
                    border-radius: 2vw;
                    border: 0.25vw solid #171717;
                }
            }

            .texto__main__text {
                padding-top: 10vw;
                padding-left: 10vw;
                padding-right: 10vw;
                font-size: 5vw;
                text-align: justify;
                margin-bottom: 30vw;
            }
        }
    }
    


}

@media only screen and (min-width:768px) and (max-width:1024px) {


}

@media only screen and (min-width:1025px) and (max-width:1399px) {


}

@media only screen and (min-width:1400px) and (max-width:1599px) {

}

@media only screen and (min-width:1600px) and (max-width:1799px) {

}